Enter name of the application: <input type="text" [(ngModel)]="title" />
<p>My Application is {{ title }}</p>
<p>Number of Players is {{players.length}}</p>

<div>
  <button [disabled]="disablesNewMessage" (click)="onSendPlayer()">Send Message</button>
</div>

<p>First Message is from {{players[0].name}: {{players[0].sport]}</p>
<div>
  <ul>
    <li *ngFor="let currentPlayer of players">
      * {{currentPlayer.name}} ({{currentPlayer.sport}}) 
      <p *ngIf="currentPlayer.active">is active</p>
      <p *ngIf="!currentPlayer.active">is not active</p>
    </li>
  </ul>
</div>
<h4>New Player Generator</h4>
<input id="player-name-input" placeholder="Player Name" [(ngModel)]="senderName">
<input id="player-sport-input" placeholder="Player Sport" [(ngModel)]="senderSport">
<select name="active" id="active-toggle" [(ngModel)]="senderActiveStatus">
  <option value=true>active</option>
  <option value=false>inactive</option>
</select>
<div>
  <button type="button" (click)="onSendPlayer()">Save Player</button>
</div>


